<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600597982575-4mo0ojoh9tsq6ti84htm239ab9mtelme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600597982575-4mo0ojoh9tsq6ti84htm239ab9mtelme</string>
	<key>API_KEY</key>
	<string>AIzaSyAAmKbksR2y-r3jozHuTQ50zG_gBPqbAA0</string>
	<key>GCM_SENDER_ID</key>
	<string>600597982575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.iosacademy.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-7c0d4</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-7c0d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600597982575:ios:abe1e7db90d3576902cc9a</string>
</dict>
</plist>